$dark-color: #000000;
$medium-color: #272727;
$light-color: #ffffff;
$light-green: #9eb45a;
$dark-green: #7b932e;
$light-yellow: #d3b73d;
$dark-yellow: #c1a016;
$red-color: #8b341f;
$readex-pro: 'Readex Pro', sans-serif;
$base-pixel: 10px;
