@import 'variables';

.modal {
    display: flex;
    background-color: $light-color;
    min-height: 500px;
    left: 0;
    right: 0;
    margin: 8px auto;
    max-width: 400px;
    padding: 40px;
    position: absolute;
    top: 15vh;
}

.form {
   display: flex;
   flex-direction: column; 
}

.input {
    font-size: 17px;
    margin: 10px 2px;
    padding: 10px;
}

.label {
    font-size: 16px;
}

.close {
    font-size: 16px;
    margin: 0;
}

.open {
    background-color: rgba(0, 0, 0, 0.1);
    color: $dark-green;
    font-size: 1.6rem;
    margin: 0;
    padding: 8px;
    text-align: center;
}

.paragraph {
    font-size: 14px;
}

.btn {
    background: linear-gradient(45deg, $dark-green, $light-green);
    border: none;
    color: #fff;
    font-size: 1.6rem;
    margin: 16px auto 8px;
    padding: 12px 30px;
    text-transform: uppercase;
    transition: 0.25s;
    width: 100%;
}

.pulse {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 16px rgba(0, 0, 0, 0);
    }
  }