@import "variables";
@import 'mixins';

.headerStyle {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    padding: $base-pixel;

    .heart {
    font-size: 40px;
    }

    a {
        color: $dark-color;
        text-decoration: none;
    }
}



