@import 'variables';

 .main {
  min-height: 75vh;
  }
  
  .hero {
    color: $light-color;
    height: 60vh;
    top: 38vh;
    position: absolute;
    text-align: center;
  }

  .title {
    font-size: 80px;
    margin: 0;
    text-shadow: 2px 2px 5px $dark-color;
  }

  .subTitle {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
  }

  .infoText {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    margin: 8px auto 4px;
    padding: 16px 8px;
    width: 360px;
  }

  .city {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 2px 2px 5px #000;
  }

.animationContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 12px;
    width: 100vw;
  }

  .swipe {
    font-size: 24px;
  }

  
  .small {
    font-size: 24px;
  }

  .medium {
    font-size: 30px;
  }

  .big {
    font-size: 36px;
  }

  .small, 
  .medium,
  .big {
    animation-name: stretch;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-play-state: running;
    color: $light-color;
    height: 18px;
    margin: 0;
    padding: 0;
  }

  @keyframes stretch {
    0% {
      transform: scale(1.2);
      transform: translateY(-30%);
    }

    50% {
      transform: scale(1);
      transform: translateY(10%);
    }

    100% {
      transform: scale(1.2);
      transform: translateY(-30%);
    }
  }