@import 'variables';

  .hero {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    justify-content: space-between;
  }

  .title {
    font-size: 80px;
    line-height: 100px;
    text-transform: uppercase;
    top: 8vh;
    position: relative;
  }

  .swipe {
    color: $light-color;
    margin-top: 36px;
  }

  .small, 
  .medium,
  .big {
    height: 30px;
    padding: 0;
    margin: 0;
    animation-name: stretch;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  @keyframes stretch {
    0% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.2);
    }
  }


  .animationContainer {
    .small {
        color: $light-color;
        font-size: 32px;
    }
    .medium {
        color: $dark-green;
        font-size: 48px;
    }
    
    .big{
        color: $light-color;
         font-size: 68px;
    }
  }
