@import 'variables';

 .main {
  min-height: 100vh;
  }

.animationContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 75vh;
    width: 90vw;
  }

  .swipe {
    color: $light-color;
    margin-top: 24px;
  }

  .small, 
  .medium,
  .big {
    animation-name: stretch;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-play-state: running;
    color: $light-color;
    font-size: 48px;
    height: 30px;
    margin: 0;
    padding: 0;
  }

  @keyframes stretch {
    0% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.2);
    }
  }
