
$dark-color: #000000;
$medium-color: #272727;
$light-color: #ffffff;
$light-green: #9EB45A;
$dark-green: #7B932E;
$light-yellow: #D3B73D;
$dark-yellow: #C1A016;
$red-color: #8B341F;
$readex-pro: 'Readex Pro', sans-serif;
$base-pixel: 10px;

$card-width: 300px;
$card-height: 400px;

.savedJobsContainer {

  margin-top: 5vh;
  
  }
  
  
  
  
  .savedJobsList {
  
   display: flex;
   width: $card-width;
   height: $card-width;
  
  gap: 8px;
  
  background-color: $light-color;
  
  border: 1px solid $dark-color;
  
  padding: 16px;
  
  }
  
  
  
  
  .bigImg {
  
   height: 150px;
  
   width: 150px;
  
  }
  
  
  
  
  .clearBtn {
  
   background: linear-gradient(45deg, $dark-green, $light-green);
  
   border: none;
  
   color: #fff;
  
   font-size: 1.6rem;
  
   padding: 12px 30px;
  
   text-transform: uppercase;
  
   transition: 0.25s;
  
   width: 100%;
  
  }
  
  
  
  
  .infoContainer {
  
   display: flex;
  
   flex-direction: column;
  
   justify-content: space-between;
  
  }
  
  
  
  
  .title {
  
    display: grid;
  text-align: center;
  
  font-size: 36px;
  
  }
  
