@import 'variables';
@import'mixins';


.savedJobsContainer {
    margin-top: 3vh;
}

////
$dark-color: #000000;
$medium-color: #272727;
$light-color: #ffffff;
$light-green: #9EB45A;
$dark-green: #7B932E;
$light-yellow: #D3B73D;
$dark-yellow: #C1A016;
$red-color: #8B341F;
$readex-pro: 'Readex Pro', sans-serif;
$base-pixel: 10px;

$card-width: 300px;
$card-height: 150px;


.savedJobsContainer{
  display: inline;
  flex-wrap: wrap;


}
  
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
  
 .savedJobsList {
  
  display: inline-flex;
   margin-bottom: 20px;
   width: $card-width;
   text-align: center;
  background-color: $light-color;
  border: 2px solid $dark-color;
  padding: 20px;
  color:$dark-color;
  }
//.imgContainer{
  //margin-right: 1px;
//}
  .bigImg {
  max-width: 120px;
 
  .icons {
    font-size: 20px;
    margin: 10px;
  }

  
  }
  
  .company {
    font-size:13px ;
    color:$dark-color;
  }
  
  
  .close{
    cursor: pointer;
    font-size: 24px;
   margin-left: 100px;
   left: 15px;

   
  }

.icons{
  display: flex;
  align-items: center;
  color: non;
 
 
}

.heart, .heartLinked {
  cursor: pointer;
  font-size: 20px;
  margin-top: 5px;
}
.heartLinked{
  color: #8B341F;
}
.heart{
  color: #8B341F;
  border: 2px solid var(#8B341F);
}

.heart:hover{
  color: #e61919;
  border-color: #8B341F;
}

  
  .jobTitle{
  font-size: 13px;
   margin: 1px;
    

    text-align: center;
  }

  .infoContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: $card-width;
   
  
  
  }
  
  
  
  
 


  
