.title {
    background-color: transparent;
}

.swipe {
    position: absolute;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.card {
    background-color: white;
    color: black;

    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
