@import "variables";
@import "mixins";

.title {
    background-color: transparent;
}

.swipe {
    position: absolute;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.card {
    @include flex-column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 90vw;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);

    .imgContainer {
        max-height: 50%;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        .title {
            grid-area: 1 / 1 / 2 / 2;
            font-size: 24px;
            text-transform: capitalize;
        }
        .company {
            grid-area: 2 / 1 / 3 / 2;
            font-size: 1rem;
            font-weight: normal;
            text-transform: capitalize;
        }
        .more {
            grid-area: 1 / 2 / 3 / 3;
            font-size: 20px;
            width: fit-content;
            align-self: start;
            justify-self: end;
        }
    }

    .text {
        p {
            font-size: 15px;
            margin-bottom: 10px;
        }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.btnContainer {
    @include flex-row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .back,
    .remove {
        background-color: black;
        color: white;
        border-radius: 50%;
        font-size: 20px;
    }

    .heart {
        font-size: 30px;
        color: white;
        background-color: red;
        border-radius: 50%;
        padding: 15px;
    }
}
